

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script><head>   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


  <nav>
  <div class="wrapper">
    <div class="navbar">
      <div class="navbar_left">
     <a href="/">
          <h1>StoaExchange</h1>
        </a> 
      </div>
  
      <div class="navbar_right">
  <div class = "flex-container">
    
          <a id = "dissapear" href="/briefExchange">Brief Exchange</a>
           <a id = "dissapear" href="/practiceRounds">Practice Rounds</a>
        
  </div>
  <%if(auth){%>
  
    <div class="notifications dissapearNext">
    
      <%if(numberOfNotifications ==0){%>
        <div class="icon_wrap"><span class="icon-button">
          <span class="material-icons" style = "font-size: 30px;">notifications</span>
        </span></div>   <div class="notification_dd">          <ul class="notification_ul">

          <li class="success lastLi">
            You currently has no unread notifications
</li>  

  </ul>
  </div>

        <%}else{%>
          <div class="icon_wrap"><span class="icon-button">
            <span class="material-icons" style = "font-size: 30px;">notifications</span>
            <span class="icon-button__badge"><%=numberOfNotifications%></span>
          </span></div>   <div class="notification_dd">
            <ul class="notification_ul">

<span id = "noHoverEffect">
  <li class="success firstLi">
    <h6 class = "notificationsHeaderH6">Notifications</h6>
    

    <form action="/api/markAsRead" method = "POST">
      <button>Mark all as read</button>
     
    </form></li>  
</span>
              
<%if(numberOfNotifications>5){%>
  <div class = "scrollAdded">
      
<style>
  .scrollAdded{
    overflow-y: scroll;
    height: 204.3px;
  }
</style>
    <%}%>
<%for(let i=0; i<numberOfNotifications; i++){%>

<%if(i==numberOfNotifications-1){%>
  <li class="success" style = "border-bottom: 0;">
    <%=notificationsArray[i]%>
  </li>  
  <%}else{%>
    <li class="success">
      <%=notificationsArray[i]%>
    </li>  
    <%}%>
<%}%>
</ul>
</div>
          <%}%>
   
<%if(numberOfNotifications>5){%>
</div>
    <%}else{%>
</div><%}%>
    <div class="profile">
      <div class="icon_wrap">
        <%var firstLetterOfName = authName[0]%>
<span class="circle"><%=firstLetterOfName%></span>
      </div>
                 
      <div class="profile_dd">
        <ul class="profile_ul">
          <li class="address"><a class="profile" href="/profiles?user=<%=authName%>"><span class="picon"><i class="fas fa-user-alt"></i>
              </span>Profile</a>
          </li>
          <li><a class="address" href="/dashboard?section=yourBriefs"><span class="picon"><i class="fa fa-desktop" aria-hidden="true"></i></span>Dashboard</a></li>
          <li><a class="settings" href="/editAccountinformation"><span class="picon"><i class="fas fa-cog"></i></span>Edit account</a></li>
          <li id = "logoutli"><form action="/api/logOut" method = "POST"><button id = "logOut" class = 'dissapearNext' style = "color: rgba(0,0,0,.5);"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Log Out</button></form> 

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <%}else{%>

  <div id = "login"><a href="/login">Login</a></div>

  <style>
    #login{
      padding: 10px 19px;
      background-color: rgba(0,0,0,.5);
 transition: color, 0.3s;
border-radius: 20px;
    }
    #login a{
      color: white;
    }
    #login:hover{
      background-color: #9C9A9A;

    }
  </style>
      <%}%>

    
    
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <script>$(".profile .icon_wrap").click(function(){
    $(this).parent().toggleClass("active");
    $(".notifications").removeClass("active");
  });
  
  $(".notifications .icon_wrap").click(function(){
    $(this).parent().toggleClass("active");
     $(".profile").removeClass("active");
  });
  
  $(".show_all .link").click(function(){
    $(".notifications").removeClass("active");
    $(".popup").show();
  });
  
  $(".close, .shadow").click(function(){
    $(".popup").hide();
  });</script>
  </div>
    </nav>
  
  
  
  
    
    
  <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');
  
  .navbar *{
    box-sizing: border-box;
    padding: 0;
margin: 0px;
  }
  
  
  .wrapper a{
  color: rgba(0,0,0,.5);
    text-decoration: none;
  }
    .navbar{  list-style: none;
  }
  
  .navbar{
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 4px rgb(0 0 0 / 6%);
    position: relative;
  z-index: 10;
  }
  
  .navbar .navbar_left .logo a{
     font-family: 'Trade Winds';
     font-size: 20px;
  }
  
  .navbar .navbar_right{
     display: flex;
            justify-content: center;
    align-items: center;
    padding-right: 20px;
  
  }
  
  .navbar .navbar_right #nameLetter{
    width: 35px;
  }
  
  .navbar .navbar_right .icon_wrap{
    cursor: pointer;
  }
  
  .navbar .navbar_right .notifications{
    margin-right: 25px;
  }
  
  .navbar .navbar_right .notifications .icon_wrap{
    font-size: 28px;
  }
  
  .navbar .navbar_right .profile,
  .navbar .navbar_right .notifications{
    position: relative;
  }
  
  .navbar .profile .profile_dd,
  .notification_dd{  
    position: absolute;
    top: 48px;
    right: -15px;
    user-select: none;
    background: #fff;
    width: 350px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
                -10px -10px 35px rgba(0,0,0,0.125);
  }
  
  .navbar .profile .profile_dd:before,
  .notification_dd:before{
      content: "";
      position: absolute;
      top: -20px;
      right: 19px;
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
  }
  
  .notification_dd li {
      border-bottom: 2px solid #f1f2f4;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      color: rgba(0,0,0,.5);
  }
  
  .notification_dd li .notify_icon{
    display: flex;
  }
  
  .notification_dd li .notify_icon .icon{
    display: inline-block;
    background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
    width: 40px;
    height: 42px;
  }
  
  .notification_dd li.baskin_robbins .notify_icon .icon{
    background-position: 0 -43px;
  }
  
  .notification_dd li.mcd .notify_icon .icon{
    background-position: 0 -86px;
  }
  
  .notification_dd li.pizzahut .notify_icon .icon{
    background-position: 0 -129px;
  }
  
  .notification_dd li.kfc .notify_icon .icon{
    background-position: 0 -178px;
  }
  
  .notification_dd li .notify_data{
    margin: 0 15px;
    width: 185px;
  }
  
  .notification_dd li .notify_data .title{
    color: #000;
    font-weight: 600;
  }
  
  .notification_dd li .notify_data .sub_title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }
  
  .notification_dd li .notify_status p{
    font-size: 12px;
  }
  
  .notification_dd li.success .notify_status p{
    color: #47da89;
  }
  .success:hover{
    background-color:  #ddd;
  }
  .notification_dd li.failed .notify_status p{
    color: #fb0001;
  }
  
  .notification_dd li.show_all{
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .notification_dd li.show_all p{
    font-weight: 700;
    color: #3b80f9;
    cursor: pointer;
  }
  
  .notification_dd li.show_all p:hover{
    text-decoration: underline;
  }
  
  .navbar .navbar_right .profile .icon_wrap{
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar_right .profile .name{
    display: inline-block;
    margin: 0 10px;
  }
  
  .navbar .navbar_right .icon_wrap:hover,
  .navbar .navbar_right .profile.active .icon_wrap,
  .navbar .navbar_right .notifications.active .icon_wrap{
    color: #3b80f9;
  }
   
  .navbar .profile .profile_dd{
    width: 225px;
  }
  .navbar .profile .profile_dd:before{
    right: 22px;
  }
  
  .navbar .profile .profile_dd ul li {
      border-bottom: 2px solid #f1f2f4;
  }
  
  .navbar .profile .profile_dd ul li  a{
      display: block;
      padding: 15px 35px;
      position: relative;
  }
  
  .navbar .profile .profile_dd ul li  a .picon{
    display: inline-block;
    width: 30px;
  }
  
  .navbar .profile .profile_dd ul li  a:hover{
  background-color: #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .navbar .profile .profile_dd ul li.profile_li a:hover {
      background: transparent;
      cursor: default;
      color: #7f8db0;
  }
  
  .navbar .profile .profile_dd ul li .btn{
      height: 32px;
      padding: 7px 10px;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      background: #3b80f9;
      width: 125px;
      margin: 5px auto 15px;
  }
  
  .navbar .profile .profile_dd ul li .btn:hover{
    background: #6593e4;
  }
  
  .navbar .profile.active .profile_dd,
  .navbar .notifications.active .notification_dd{
    display: block;
  }
  
  .popup {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;
      display: none;
  }
  
  .popup .shadow {
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
  }
  
  .popup .inner_popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: auto;
  }
  
  .popup .notification_dd{
    display: block;
    position: static;
    margin: 0 auto;
    height: 357px;
    overflow: auto;
  }
  
  .popup .notification_dd:before{
     display: none;
  }
  
  .popup .notification_dd li.title{
    font-weight: 700;
    color: #3b80f9;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .popup .notification_dd li.title .close{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup .notification_dd li.title .close:hover{
    opacity: 0.5;
  }
  #dissapear{
  padding-right: 20px;
  }
  .flex-container{
  align-items: center;display: flex;}
  html, body {
    height: 100%;
    width: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     margin:0;
      padding:0;
    scroll-behavior: smooth;
  }
    nav .navbar_left{
      padding: 30px;
      padding-left: 110px;
      
    }
    .navbar{
      height: 80px;
    }
    .navbar_left h1{
      font-size: 35px;
        align-items: center;
      display:inline-block;
      color: black;
    }
  
    #dissapear:hover{color: #606970;}
    .fa-bell{color: rgba(0,0,0,.5);
  }.flex-container a{
      color: rgba(0,0,0,.5);
      transition: color 0.3s;
  
  
  }
   .flex-container a:visited {
      color: rgba(0,0,0,.5);
  }
    
      .icon-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
  color: rgba(0,0,0,.5);
        border: none;
        outline: none;
        transition: color, 0.3s;
      }
    .icon-button:hover{
      color: #606970;
    }
        .icon-button:active{
      color: #606970;
    }
      .icon-button:hover {
        cursor: pointer;
      }
      
      
      .icon-button__badge {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 15px;
        height: 15px;
        background: red;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 2px;
        font-size: 10px;
      }
    
      .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
   display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  background: rgba(0,0,0,.5);
  }
    nav li{
      list-style: none !important;
    }
    
  @media screen and (max-width: 500px) {
    #dissapear{
      display: none;
    }
  }
    
  @media screen and (max-width: 400px) {
    .dissapearNext{
      display: none;
    }
  }
    #logOut{
      border: none;
      font-size: 16px;
      color: #7f7f7f;
      background: white;
          padding: 15px 35px;
      padding-right: 103.07px;
  
    }
    #logoutli{
     
    border-bottom: 0px; 
    }
  
    #logOut:hover{
      background-color: #ddd;
    }
    #logOut .picon{
      padding-right: 14px;
    }
    .lastLi{
      border-bottom: 0px !important;

    }
    .lastLi button{background: transparent; font-size: 16px; border: none;}

    .firstLi button{border: none; background: transparent;}
#noHoverEffect .success:hover{
  background: transparent;
}
.firstLi{
  justify-content: space-between;

}
.firstLi button{
  font-family: ui-sans-serif, sans-serif;
  color: rgba(0,0,0,.5);
  font-weight: bold;
}
      .notificationsHeaderH6{
        font-size: 16px; 
      }

      @media screen and (max-width: 820px) {

.largerContainer{
  padding-right: 10px;
  padding-left: 10px;
}
}

  </style>