<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <title>Dashboard: Your practice rounds</title>
  <script src="https://kit.fontawesome.com/d61eecf5e3.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <script src="/js/scroll.js"></script>
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "body">
    <div class="buttonContainer topButtons">
      <div class = "leftButtons">
        <button onclick="replace(5)" id="buttonOne">Your Practice Round Requests</button>
    <button onclick="replace(6)" style = "border-left: none;"id="buttonThree">Your Responses</button>


      </div>
    
<div class = 'rightButtons'>
  <button onclick="redirect(3)" style = "border-radius: 5px 5px 0px 0px;"id="rightButtonTwo">Request a practice round</button></div>
    </div>

    

    <div class="largerContainer">
      <div class = "smallerContainer">
        <div id ="replaceThisDiv">
          <script  src="ejs.min.js"></script>
      
              <h1>Your Practice Round Requests</h1>
              
              <hr>    
                  
              <span class='briefSection'>
                 
                  <%if (numberOfRequests == 0){%>
                      <h2 class = 'briefSectionheader'>You haven't responded to any practice round requests</h2>
                  <%}%>

              
                  <%for(let i = 0; i<numberOfRequests; i++){%>
                      <h2 id = 'date'><%=date[i]%></h2><form action='/api/deletePracticeRoundRequest?id=<%=id[i]%>' method = 'POST' id = 'deleteForm<%=i%>'>
                          <div style = 'display: flex; flex-direction: row; justify-content: space-between;'> <h2 id = 'thirtypx'>Debate Format: <%=debate[i]%></h2><div id ='trashCan<%=i%>' ><i onclick = 'trashClicked(<%=i%>)' class='fa fa-trash fa-2x'></i></div></div>  
                      </form>
                      <h3>Availability: <%=availability[i]%></h3>

                      <%if(additional){%>
                      <h3>Additional information: <%=additional[i]%></h3>
<%}%>





<%var number = 0%>
<%var stringOfPlatforms = ""%>
<%if(zoom[i]){%>
  <%number++%>
<%}%>
<%if(discord[i]){%>
  <%number++%>
<%}%>
<%if(skype[i]){%>
  <%number++%>
<%}%>
<%if(googleMeet[i]){%>
  <%number++%>
<%}%>
<%if(faceTime[i]){%>
  <%number++%>
<%}%>

<%var numberPlaceholder = number%>


<%var firstTime = true%>

<%if(numberPlaceholder >1 && numberPlaceholder != 2){%>
  <%if(zoom[i]){%>
    <%if(number == 1){%>
      <%stringOfPlatforms = stringOfPlatforms + ", or Zoom"%>
      <%}else{%>
        <%if(firstTime){%>
          <%stringOfPlatforms = stringOfPlatforms + "Zoom"%>
          <%firstTime = false%>
          <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + ", Zoom"%>
            <%}%>
        
        <%}%>
    <%number = number - 1%>
  <%}%>
  
  <%if(discord[i]){%>
    <%if(number == 1){%>
      <%stringOfPlatforms = stringOfPlatforms + ", or Discord"%>
      <%}else{%> <%if(firstTime){%>
        <%stringOfPlatforms = stringOfPlatforms + "Discord"%>
        <%firstTime = false%>
        <%}else{%>
        <%stringOfPlatforms = stringOfPlatforms + ", Discord"%>
<%}%>
        <%}%>
    <%number = number - 1%>
  <%}%>
  <%if(skype[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + ", or Skype"%>
    <%}else{%>
      <%if(firstTime){%>
        <%stringOfPlatforms = stringOfPlatforms + "Skype"%>
        <%firstTime = false%>
        <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + ", Skype"%>
<%}%>
      <%}%>
  <%number = number - 1%>
  <%}%>
  <%if(googleMeet[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + ", or Google Meet"%>
    <%}else{%>
      <%if(firstTime){%>
        <%stringOfPlatforms = stringOfPlatforms + "Google Meet"%>
        <%firstTime = false%>
        <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + ", Google Meet"%>
<%}%>
      <%}%>
  <%number = number - 1%>
  <%}%>
  <%if(faceTime[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + ", or Face Time"%>
    <%}else{%>
      <%if(firstTime){%>
        <%stringOfPlatforms = stringOfPlatforms + "Face Time"%>
        <%firstTime = false%>
        <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + ", Face Time"%>
<%}%>
      <%}%>
  <%number = number - 1%>
  <%}%>
  <h3>Available platforms: <%=stringOfPlatforms%></h3>
  
  <%}else if(numberPlaceholder == 2){%>

  <%if(zoom[i]){%>
    <%if(number == 1){%>
      <%stringOfPlatforms = stringOfPlatforms + " or Zoom"%>
      <%}else{%>
        <%stringOfPlatforms = stringOfPlatforms + "Zoom"%>
        <%}%>
    <%number = number - 1%>
  <%}%>
  
  <%if(discord[i]){%>
    <%if(number == 1){%>
      <%stringOfPlatforms = stringOfPlatforms + " or Discord"%>
      <%}else{%>
        <%stringOfPlatforms = stringOfPlatforms + "Discord"%>

        <%}%>
    <%number = number - 1%>
  <%}%>
  <%if(skype[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + " or Skype"%>
    <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + "Skype"%>

      <%}%>
  <%number = number - 1%>
  <%}%>
  <%if(googleMeet[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + " or Google Meet"%>
    <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + "Google Meet"%>

      <%}%>
  <%number = number - 1%>
  <%}%>
  <%if(faceTime[i]){%> <%if(number == 1){%>
    <%stringOfPlatforms = stringOfPlatforms + " or Face Time"%>
    <%}else{%>
      <%stringOfPlatforms = stringOfPlatforms + "Face Time"%>

      <%}%>
  <%number = number - 1%>
  <%}%>
  <h3>Available platforms: <%=stringOfPlatforms%></h3>
<%}else{%>
  
  <%if(zoom[i]){%>
    <%stringOfPlatforms = "Zoom"%>
  <%}%>
  
  <%if(discord[i]){%>
    <%stringOfPlatforms = "Discord"%>

  <%}%>
  <%if(skype[i]){%> 
    <%stringOfPlatforms = "Skype"%>

  <%}%>
  <%if(googleMeet[i]){%> 
    <%stringOfPlatforms = "Google Meet"%>

  <%}%>
  <%if(faceTime[i]){%> 
    <%stringOfPlatforms = "Face Time"%>

  <%}%>
  <h3>Available platform: <%=stringOfPlatforms%></h3>
<%}%>


<%if(judge[i]){%>
  <h3 id ="extraBottomMargin">Judge needed</h3>
<%}else{%>
  <h3 id ="extraBottomMargin">No judge needed</h3>
  <%}%>

  <% var myVariable = false; %>
  <%for(let f = 0; f<requestAmount; f++){%>
      <%if(idRES[f]==id[i] && statusRES[f] != 'rejected'){%>
          <% var myVariable = true; %>
  
      <%}%>
  <%}%>

  <%if (myVariable){%>
  
    <h3 style = 'margin-top: 18px' id ='noBottomMargin'>Responses:</h3>

<%}%>
       <%for(let v = 0; v<requestAmount; v++){%>
           <%if(idRES[v]==id[i] && statusRES[v] != 'rejected'){%>


<details>
    <summary>
  <h4 id = 'requestFrom'>Response from <a href='/profiles?user=<%=requesterNameRES[v]%>'><%=requesterNameRES[v]%></a></h4>    <span class='icon'>▼</span><span class='otherIcon'>▲</span>
    </summary>
    <div id = 'dropdownContainer'>
      <h2 id = 'date' style = 'margin-top: 0px;'><%=dateRES[v]%></h2>
      <h4>Availability: <%=availability2RES[v]%></h4>
      <%if(additionalRES[v]){%>
      <h4>Additional Information: <%=additionalRES[v]%></h4>
      <%}%>



      <%var number = 0%>
      <%var stringOfPlatforms = ""%>
      <%if(zoomRES[v]){%>
        <%number++%>
      <%}%>
      <%if(discordRES[v]){%>
        <%number++%>
      <%}%>
      <%if(skypeRES[v]){%>
        <%number++%>
      <%}%>
      <%if(googleMeetRES[v]){%>
        <%number++%>
      <%}%>
      <%if(faceTimeRES[v]){%>
        <%number++%>
      <%}%>
      
      <%var numberPlaceholder = number%>
      
      
      <%var firstTime = true%>
      
      <%if(numberPlaceholder >1 && numberPlaceholder != 2){%>
        <%if(zoomRES[v]){%>
          <%if(number == 1){%>
            <%stringOfPlatforms = stringOfPlatforms + ", or Zoom"%>
            <%}else{%>
              <%if(firstTime){%>
                <%stringOfPlatforms = stringOfPlatforms + "Zoom"%>
                <%firstTime = false%>
                <%}else{%>
                  <%stringOfPlatforms = stringOfPlatforms + ", Zoom"%>
                  <%}%>
              
              <%}%>
          <%number = number - 1%>
        <%}%>
        
        <%if(discordRES[v]){%>
          <%if(number == 1){%>
            <%stringOfPlatforms = stringOfPlatforms + ", or Discord"%>
            <%}else{%> <%if(firstTime){%>
              <%stringOfPlatforms = stringOfPlatforms + "Discord"%>
              <%firstTime = false%>
              <%}else{%>
              <%stringOfPlatforms = stringOfPlatforms + ", Discord"%>
      <%}%>
              <%}%>
          <%number = number - 1%>
        <%}%>
        <%if(skypeRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + ", or Skype"%>
          <%}else{%>
            <%if(firstTime){%>
              <%stringOfPlatforms = stringOfPlatforms + "Skype"%>
              <%firstTime = false%>
              <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + ", Skype"%>
      <%}%>
            <%}%>
        <%number = number - 1%>
        <%}%>
        <%if(googleMeetRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + ", or Google Meet"%>
          <%}else{%>
            <%if(firstTime){%>
              <%stringOfPlatforms = stringOfPlatforms + "Google Meet"%>
              <%firstTime = false%>
              <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + ", Google Meet"%>
      <%}%>
            <%}%>
        <%number = number - 1%>
        <%}%>
        <%if(faceTimeRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + ", or Face Time"%>
          <%}else{%>
            <%if(firstTime){%>
              <%stringOfPlatforms = stringOfPlatforms + "Face Time"%>
              <%firstTime = false%>
              <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + ", Face Time"%>
      <%}%>
            <%}%>
        <%number = number - 1%>
        <%}%>
        <h4>Available platforms: <%=stringOfPlatforms%></h4>
        
        <%}else if(numberPlaceholder == 2){%>
      
        <%if(zoomRES[v]){%>
          <%if(number == 1){%>
            <%stringOfPlatforms = stringOfPlatforms + " or Zoom"%>
            <%}else{%>
              <%stringOfPlatforms = stringOfPlatforms + "Zoom"%>
              <%}%>
          <%number = number - 1%>
        <%}%>
        
        <%if(discordRES[v]){%>
          <%if(number == 1){%>
            <%stringOfPlatforms = stringOfPlatforms + " or Discord"%>
            <%}else{%>
              <%stringOfPlatforms = stringOfPlatforms + "Discord"%>
      
              <%}%>
          <%number = number - 1%>
        <%}%>
        <%if(skypeRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + " or Skype"%>
          <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + "Skype"%>
      
            <%}%>
        <%number = number - 1%>
        <%}%>
        <%if(googleMeetRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + " or Google Meet"%>
          <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + "Google Meet"%>
      
            <%}%>
        <%number = number - 1%>
        <%}%>
        <%if(faceTimeRES[v]){%> <%if(number == 1){%>
          <%stringOfPlatforms = stringOfPlatforms + " or Face Time"%>
          <%}else{%>
            <%stringOfPlatforms = stringOfPlatforms + "Face Time"%>
      
            <%}%>
        <%number = number - 1%>
        <%}%>
        <h4>Available platforms: <%=stringOfPlatforms%></h4>
      <%}else{%>
        
        <%if(zoomRES[v]){%>
          <%stringOfPlatforms = "Zoom"%>
        <%}%>
        
        <%if(discordRES[v]){%>
          <%stringOfPlatforms = "Discord"%>
      
        <%}%>
        <%if(skypeRES[v]){%> 
          <%stringOfPlatforms = "Skype"%>
      
        <%}%>
        <%if(googleMeetRES[v]){%> 
          <%stringOfPlatforms = "Google Meet"%>
      
        <%}%>
        <%if(faceTimeRES[v]){%> 
          <%stringOfPlatforms = "Face Time"%>
      
        <%}%>
        <h4>Available platform: <%=stringOfPlatforms%></h4>
      <%}%>

          <%if(statusRES[v] == "bothSidesSent"){%>
            <h4 style = 'font-size: 20px; padding-top: 10px'><%=requesterNameRES[v]%></h3>
            </h4>

<%}else if(statusRES[v] == 'agree'){%>                                        <h4 style = 'font-size: 17px; padding-top: 10px'>Your contact information has been sent to <%=responderNameRES[i]%>. They'll contact you soon!</h4>
  <%}else{%>
          <div id = 'buttonContentR<%=v%>' style = 'white-space: nowrap;'><button id = 'inline-block' style = 'margin-top: 10px;'onclick='acceptR(<%=v%>, "<%=actualIdRES[v]%>")'>Accept</button><form id = 'inline-block' action='/api/rejectPracticeRoundRequest?id=<%=actualIdRES[v]%>' method = 'POST'><button style = 'margin-top: 10px;'>Reject</button></form><button id = 'inline-block'style = 'margin-top: 10px;' onclick = "getMoreInformationR(<%=v%>)">Get more information</button></div>
        </div>

            <%}%>
  </details>

  <script>

                      function cancelR(i, id){
                          const div = document.getElementById('buttonContentR' + i)
                          div.innerHTML=`<div id = 'buttonContentR<%=v%>' style = 'white-space: nowrap;'><button id = 'inline-block' style = 'margin-top: 10px;'onclick='acceptR(<%=v%>, "<%=actualIdRES[v]%>")'>Accept</button><form id = 'inline-block' action='/api/rejectPracticeRoundRequest?id=<%=actualIdRES[v]%>' method = 'POST'><button style = 'margin-top: 10px;'>Reject</button></form><button id = 'inline-block'style = 'margin-top: 10px;' onclick = "getMoreInformationR(<%=v%>)">Get more information</button></div>
        </div>`
                  
                      }
function acceptR(i, id){
                          const div = document.getElementById('buttonContentR' + i)
                          div.innerHTML=`<form action = '/api/agreePracticeRound?id=`+id+`' method = 'POST'><input name = 'info' class = 'feedback-input' type = 'text' placeholder='Contact information (for the preferred platform)'><br><button type='button' style = 'margin-bottom: 10px;' onclick='cancelR(`+i+ `,"`+id+`")'>Cancel</button><button type = 'submit' style = 'margin-bottom: 10px;'>Send</button></form>`
                          
                      }
    function getMoreInformationR(i){
                  const div = document.getElementById('buttonContentR' +i)
                  div.innerHTML="<h4 style='padding-top: 8px;'><%=responderNameRES[i]%>'s email: <a target = '_blank' href = 'mailto:<%=responderEmailRES[i]%>'><%=responderEmailRES[i]%></a></h4>"
                }
    </script>
  <%}%>
  <%}%>

  <%}%>
              <style>i{color: rgba(0,0,0, 0.5)} #date{margin-bottom: 19px;}
              #replaceThisDiv button{padding:10px 19px; border: none; font-size: 16px; color: white;border-radius: 20px;  font-weight: bold;
              }
              #cancel{padding:10px 19px; border: none; font-size: 16px; color: white;border-radius: 20px; margin: 0;     margin-left: 10px;
              }
              
              i{    transition: color, 0.3s;
              }
              #confirmDelete{
                  background: #ed5e68;
                  margin-left: 10px;
                  transition: color, 0.3s;
              
              }
              #confirmDelete:hover{
                  background:#e8727a; 
              
              }
              #cancel{
                  background: #7f7f7f;
                  transition: color, 0.3s;
              
              }
               #cancel:hover{
                  background: #949292;
              }
              i:hover{
                  color: #949292;
              }
              details {
                              user-select: none;
                              word-break:break-word;
      
                            }
                            
                            details>summary span.icon {
                              width: 24px;
                              height: 24px;
                              transition: all 0.3s;
                              margin-left: auto;
                            }
                            #body #dropdownContainer{
                              max-width: 700px;
                            }
                            details>summary span.otherIcon {
                              width: 24px;
                              height: 24px;
                              transition: all 0.3s;
                              margin-left: auto;
                            }
                                   
                            
                            details[open] summary span.icon {
                            display: none }
                              
                            details[open] summary span.otherIcon {
                             display:flex; 
                            }
                            span.otherIcon {
                            display: none;}
                            
                            summary {
                              display: flex;
                              cursor: pointer;
                              font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
                              max-width: 700px;
                              margin-top: 18.72px;
                              background: #D8D8D8;	padding: 20px 20px 15px 20px;
                            }
                            #body #requestFrom{
                              color: #000000;
                              font-size: 20px;
                              padding: 0;
                              margin: 0;
                            }
                            #noBottomMargin{
                              margin-bottom: 0;
                            }
              
                            summary::-webkit-details-marker {
                              display: none;
                            }
                            summary{
                              border-radius: 15px;}
                            details[open] summary{
                              border-radius: 15px 15px 0 0;
                            border-bottom: 2px solid black;
                            }
                            
                              #dropdownContainer{background: #D8D8D8	;	padding: 20px 20px 10px; border-radius: 0 0 15px 15px; margin: 0;}
                              #dropdownContainer h4{color: black; margin: 0; padding: 0 0 10px; font-size: 17px;}
                              #dropdownContainer button{margin-top: 15px; margin-right: 8px; color: black; background: #EAEAEA;}
                              #dropdownContainer button:hover{background: #C0C0C0}
                              #inline-block{display: inline-block; margin-bottom: 10px;}
              </style></div>
        

  
      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>

</body>
</html>

<script>

    function replace(number){

        if(number == 1){
          window.location.href = "/briefDashboard?section=yourBriefs";
        }
        if(number == 2){
          window.location.href = "/briefDashboard?section=outgoingRequests";
        }

       
        if(number == 4){
          window.location.href = "/briefDashboard?section=briefsYouveReceived";

        }
        if(number == 5){
          window.location.href = "/practiceRoundDashboard?section=yourPracticeRounds";

        }
        if(number == 6){
          window.location.href = "/practiceRoundDashboard?section=yourResponses";

        }
        if(number == 7){
          window.location.href = "/briefDashboard?section=";

        }
    }
    </script>
               <style>#buttonTwo,#buttonThree{background-color: transparent;}#buttonOne{background-color: #D3D3D3 !important;}</style>            

    <style>#body a{
        color: black}
        .topButtons button{
    background: transparent;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        border-bottom: none;
    font-size: 15px;
    border-radius:  5px 0px  0px 0px;
  padding: 5px 10px;
    
  }
  
  #buttonTwo{
   margin: 0;

    border-radius:  0px;
  }

  #buttonThree{
    margin: 0;
    border-bottom: none;
      
   }
  
  .buttonContainer{
    font-size:0;
  }.largerContainer{padding-top: 0;}</style>

