<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <title>Dashboard: Briefs You've Received</title>
  <script src="https://kit.fontawesome.com/d61eecf5e3.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <script src="/js/scroll.js"></script>
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "body">
    <div class="buttonContainer topButtons">
      <div class = "leftButtons">
        <button onclick="replace(1)" id="buttonOne">Your briefs</button>
    <button onclick="replace(4)" id="buttonTwo">Briefs you've received</button>


    <button onclick="replace(2)" id="buttonThree">Outgoing Requests</button>
      </div>
    
<div class = 'rightButtons'>
  <button onclick="redirect(1)" id="rightButtonOne">Add a brief offer</button>
  <button onclick="redirect(2)" id="rightButtonTwo">Add a brief request</button></div>
    </div>


    <div class="largerContainer">
      <div class = "smallerContainer">
        <div id ="replaceThisDiv">        <h1>Briefs you've received</h1>
          <hr>

<%for(let i = 0; i<receivedAmount; i++){%>

  <%if(receivedBriefsType[i] == "offering"){%>

    <%if(receivedBriefsToEmail[i] == auth){%>

    <h2 id = 'date' style = "padding-bottom: 10px;"><%=receivedBriefsDate[i]%></h2>
    <h2>You offered:</h2>
    <h3>Brief name: <%=receivedBriefsFirstBriefName[i]%></h3>
<h3>Debate format: <%=receivedBriefsFirstBriefDebate[i].toUpperCase()%></h3>
<h3>Link: <a href="<%=receivedBriefsFirstLink[i]%>" target = "_blank"><%=receivedBriefsFirstLink[i]%></a></h3>

<h2 style = "padding-top: 10px;"><%=receivedBriefsFrom[i]%> sent you:</h2>
<h3>Brief name: <%=receivedBriefsSecondBriefName[i]%></h3>
<h3>Description: <%=receivedBriefsSecondBriefDescription[i]%></h3>
<h3>Pages: <%=receivedBriefsSecondBriefPages[i]%></h3>
<h3>Arguments: <%=receivedBriefsSecondBriefArguments[i]%></h3>
<h3>Debate format: <%=receivedBriefsSecondBriefDebate[i].toUpperCase()%></h3>
<h3>Link: <a href="<%=receivedBriefsSecondLink[i]%>" target = "_blank"><%=receivedBriefsSecondLink[i]%></a></h3>
<%}else{%>
  <h2 id = 'date' style = "padding-bottom: 10px;"><%=receivedBriefsDate[i]%></h2>
  <h2><%=receivedBriefsTo[i]%> offered:</h2>
  <h3>Brief name: <%=receivedBriefsFirstBriefName[i]%></h3>
<h3>Debate format: <%=receivedBriefsFirstBriefDebate[i].toUpperCase()%></h3>
<h3>Link: <a href="<%=receivedBriefsFirstLink[i]%>" target = "_blank"><%=receivedBriefsFirstLink[i]%></a></h3>

<h2 style = "padding-top: 10px;">You sent <%=receivedBriefsFrom[i]%>:</h2>
<h3>Brief name: <%=receivedBriefsSecondBriefName[i]%></h3>
<h3>Description: <%=receivedBriefsSecondBriefDescription[i]%></h3>
<h3>Pages: <%=receivedBriefsSecondBriefPages[i]%></h3>
<h3>Arguments: <%=receivedBriefsSecondBriefArguments[i]%></h3>
<h3>Debate format: <%=receivedBriefsSecondBriefDebate[i].toUpperCase()%></h3>
<h3>Link: <a href="<%=receivedBriefsSecondLink[i]%>" target = "_blank"><%=receivedBriefsSecondLink[i]%></a></h3>
<%if(!receivedBriefsReviewed[i]){%>
  <div id = "contact-container" style = "margin-top: 30px;" ><a id = "body-getStarted" href="/rateABrief?id=<%=receivedBriefsId[i]%>">Rate <%=receivedBriefsTo[i]%>'s brief</a></div> 
  <%}%>
  <%}%>

    <%}else{%>
      <%if(receivedBriefsToEmail[i] == auth){%>

        <h2 id = 'date' style = "padding-bottom: 10px;"><%=receivedBriefsDate[i]%></h2>
        <h2>You requested:</h2>
        <h3>Brief name: <%=receivedBriefsFirstBriefName[i]%></h3>
    <h3>Debate format: <%=receivedBriefsFirstBriefDebate[i].toUpperCase()%></h3>
    
    <h2 style = "padding-top: 10px;"><%=receivedBriefsFrom[i]%> sent to you:</h2>
    <h3>Description: <%=receivedBriefsSecondBriefDescription[i]%></h3>
    <h3>Pages: <%=receivedBriefsSecondBriefPages[i]%></h3>
    <h3>Arguments: <%=receivedBriefsSecondBriefArguments[i]%></h3>
    <h3>Link: <a href="<%=receivedBriefsSecondLink[i]%>" target = "_blank"><%=receivedBriefsSecondLink[i]%></a></h3>
    
    <h2 style = "padding-top: 10px;">In return you sent them:</h2>
    <h3>They requested: <%=receivedBriefsInReturn[i]%></h3>
    <h3>Link: <a href="<%=receivedBriefsFirstLink[i]%>" target = "_blank"><%=receivedBriefsFirstLink[i]%></a></h3>


    <%}else{%>   
      <h2 id = 'date' style = "padding-bottom: 10px;"><%=receivedBriefsDate[i]%></h2>
    <h2><%=receivedBriefsTo[i]%> requested:</h2>
    <h3>Brief name: <%=receivedBriefsFirstBriefName[i]%></h3>
<h3>Debate format: <%=receivedBriefsFirstBriefDebate[i].toUpperCase()%></h3>

<h2 style = "padding-top: 10px;">You sent them:</h2>
<h3>Description: <%=receivedBriefsSecondBriefDescription[i]%></h3>
<h3>Pages: <%=receivedBriefsSecondBriefPages[i]%></h3>
<h3>Arguments: <%=receivedBriefsSecondBriefArguments[i]%></h3>
<h3>Link: <a href="<%=receivedBriefsSecondLink[i]%>" target = "_blank"><%=receivedBriefsSecondLink[i]%></a></h3>

<h2 style = "padding-top: 10px;">In return they sent you:</h2>
<h3>They requested: <%=receivedBriefsInReturn[i]%></h3>
<h3>Link: <a href="<%=receivedBriefsFirstLink[i]%>" target = "_blank"><%=receivedBriefsFirstLink[i]%></a></h3>


      <%}%>
    <%}%>



<%if(i<receivedAmount-1){%>
  <hr>
<%}%>

<%}%>
     


 </div>
        

  
      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>

</body>
</html>

<script>

    function replace(number){

        if(number == 1){
          window.location.href = "/dashboard?section=yourBriefs";

        }
        if(number == 2){
          window.location.href = "/dashboard?section=outgoingRequests";
        }
        if(number == 3){
          window.location.href = "/dashboard?section=ratings";

        }
       
        if(number == 4){
          window.location.href = "/dashboard?section=briefsYouveReceived";

        }
    }
    </script>
               

    <style>
      #buttonThree, #buttonOne{background-color: transparent; }#buttonTwo{background-color: #D3D3D3 !important;}
    #confirmDelete{
        background: #ed5e68;
        margin-left: 10px;
        transition: color, 0.3s;
    
    }
    #confirmDelete:hover{
        background:#e8727a; 
    
    }
    #cancel{
        background: #7f7f7f;
        transition: color, 0.3s;
    
    }
     #cancel:hover{
        background: #949292;
    }
    i:hover{
        color: #949292;
    }i{color: rgba(0,0,0, 0.5)} #date{margin-bottom: 19px;}  #replaceThisDiv button{padding:10px 19px; border: none; font-size: 16px; color: white;border-radius: 20px;  font-weight: bold;
        }        #cancel{padding:10px 19px; border: none; font-size: 16px; color: white;border-radius: 20px; margin: 0;     margin-left: 10px;
        }
        
        i{    transition: color, 0.3s;
        }
        #body a{
        color: black}
        .topButtons button{
    border: 1px solid var(--lighterGray);
    background: transparent;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        border-bottom: none;
    font-size: 15px;
    border-radius:  5px 0px  0px 0px;
  padding: 5px 10px;
    
  }
  
  #buttonTwo{
   margin: 0;
    border: none;
    border-top: 1px solid var(--lighterGray);

    border-radius:  0px;
  }

  #buttonThree{
    margin: 0;
    border: 1px solid var(--lighterGray); 
    border-bottom: none;
      
   }
  
  .buttonContainer{
    font-size:0;
  }.largerContainer{padding-top: 0;}</style> 