<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet" type="text/css" />
    <script src = "/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

  <title>Forgot password</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "register">
    <div class="largerContainer">
      <div class = "smallerContainer">
        <h1>Reset your password</h1>
    <%if(auth){%>
     

          <h2>You're already logged in. Click <a href="/">here</a> to return to the home page.</h2>
    <%}else{%>

      <%if(!existingEmail){%>
        <form action="/api/forgotPassword" method = "POST">
          <input required type="email" name = 'email'placeholder ="Email" class = "feedback-input" value = "<%=email%>">
          <h3 style="margin-top: 0px; padding-bottom: 5px;">There are no accounts created under this email</h3>
          <style>h3{text-align: center; color:rgb(255, 89, 89);
      padding-top: 0px; margin-top: 5px;}</style>
          <input type="submit" value = "Submit"  class = "feedback-input">
  
        </form>
        <%}else if(spamming){%>
          <form action="/api/forgotPassword" method = "POST">
            <input required type="email"name = 'email' placeholder ="Email" class = "feedback-input" value = "<%=email%>">
            <h3 style="margin-top: 0px; padding-bottom: 5px;">Sorry, in order to prevent spam you can only request a password reset once every 12 hours. To reset your password again return in <%=hours%> hours.            </h3>
            <style>h3{text-align: center; color:rgb(255, 89, 89);
        padding-top: 0px; margin-top: 5px;}</style>
            <input type="submit" value = "Submit"  class = "feedback-input">
    
          </form>
          <%}else if(successful){%>
            <h2>A link has been sent to <%=email%> regarding your password reset request. You have 1 hour to use the password reset link before it's invalidated. If you can't find the email please check your spam folder.</h2>  
      
        <%}else{%>
      <form action="/api/forgotPassword" method = "POST">
        <input required type="email"name = 'email' placeholder ="Email" class = "feedback-input">
        <input type="submit" value = "Submit"  class = "feedback-input">

      </form><%}%>
      <%}%>          </div></div>

</section>
<%- include('partials/footer.ejs') %>

</body>
</html>