<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet" type="text/css" />
    <script src = "/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

  <title>Password Reset</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "register">
    <div class="largerContainer">
      <div class = "smallerContainer">
        <h1>Password Reset</h1>
        <%if(auth){%>
     

          <h2>You're already logged in. Click <a href="/">here</a> to return to the home page.</h2>
    <%}else{%>

      <%if(hoursPassed){%>
        <%if(!hours){%>
        <h2>Sorry, but for security purposes we only give users 1 hour to reset their password. Click <a href="/forgotPassword">here</a> if you want to receive a new password reset code.</h2>
<%}else{%>
  <h2>Sorry, but for security purposes we only give users 1 hour to reset their password. You must wait <%=hours%> hours before you can reset your password again.</h2>
  <%}%>  
  <%}else if(!valid){%>
    <h2>Sorry, but your password reset request has failed. Make sure that you clicked on the latest reset link sent to your email, because the one you entered is not in our databases.</h2>

    
    <%}else{%>
      <%if(!validEmail){%>

        <form action="/api/passwordReset?uuid=<%=uuid%>" method = "POST">
          <input required type="email"name = 'email' placeholder ="Email" class = "feedback-input"value = "<%=email%>">
          <h3 style="margin-top: 0px; padding-bottom: 5px;">Sorry, there are no emails in our databases associated with this password reset code</h3>
          <style>h3{text-align: center; color:rgb(255, 89, 89);
      padding-top: 0px; margin-top: 5px;}</style>
          <input required type="password"name = 'newPassword' placeholder ="New password" class = "feedback-input" value = "<%=newPassword%>">
  
          <input required type="password"name = 'confirmNewPassword' placeholder ="Confirm new password" class = "feedback-input" value = "<%=confirmNewPassword%>">
  
          <input type="submit" value = "Submit"  class = "feedback-input">
  
        </form>
        <%}else if(!passwordsEqual){%>
          <form action="/api/passwordReset?uuid=<%=uuid%>" method = "POST">
            <input required type="email"name = 'email' placeholder ="Email" class = "feedback-input"value = "<%=email%>">
            <input required type="password"name = 'newPassword' placeholder ="New password" class = "feedback-input"value = "<%=newPassword%>">
    
            <input required type="password"name = 'confirmNewPassword' placeholder ="Confirm new password" class = "feedback-input"value = "<%=confirmNewPassword%>">
            <h3 style="margin-top: 0px; padding-bottom: 5px;">Your passwords must be matching</h3>
            <style>h3{text-align: center; color:rgb(255, 89, 89);
        padding-top: 0px; margin-top: 5px;}</style>
            <input type="submit" value = "Submit"  class = "feedback-input">
    
          </form>
          <%}else if (success){%>
            <h2>Your password has been successfuly changed. Click <a href="/login">here</a> if you'd like to login to your account.</h2>
            <%}else{%>
      <form action="/api/passwordReset?uuid=<%=uuid%>" method = "POST">
        <input required type="email"name = 'email' placeholder ="Email" class = "feedback-input"value = "<%=email%>">
        <input required type="password"name = 'newPassword' placeholder ="New password" class = "feedback-input"value = "<%=newPassword%>">

        <input required type="password"name = 'confirmNewPassword' placeholder ="Confirm new password" class = "feedback-input"value = "<%=confirmNewPassword%>">

        <input type="submit" value = "Submit"  class = "feedback-input">

      </form>
      <%}%>
      <%}%>


      <%}%>
      </div></div>

</section>
<%- include('partials/footer.ejs') %>

</body>
</html>