<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet" type="text/css" />
<script src = "/js/script.js"></script>
  <title>Register</title>
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

</head>
<body>  <%- include('partials/nav.ejs') %>

  <section id = "register">
  <div class="largerContainer">
      <div class = "smallerContainer">

<%if(auth){%>
  <h1>Register</h1>
  <h2 style = "padding-top: 30px;">You already have an account</h2>
<%}else{%>

  <h1>Register</h1>
   
  <form method = "POST" action = "/api/register">     

          
<%if(!nameAvailable){%>

  <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" value = "<%=name%>" />

  <h3>A profile has already been created under this name</h3>
  <style>h3{text-align: center; color:rgb(255, 89, 89);
padding-top: 0px; margin-top: 5px;}</style>

  <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" value = <%=email%> />
   <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" value = <%=speechranks%> />
  <input required  name="password" type="password" class="feedback-input" placeholder="Password" value = <%=password%> />
        <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" value = <%=confirmPassword%> />

        <h2 id="noBottomPadding">Debate events</h2>
        <div id = "checkRequired">
          <%if(tpChecked){%>
  <label class="container">Team Policy
    <input name = "tp" type="checkbox" checked>
    <span class="checkmark"></span>
  </label>
  <%}else{%>
    <label class="container">Team Policy
      <input name = "tp" type="checkbox">
      <span class="checkmark"></span>
    </label>
    <%}%>
    <%if(ldChecked){%>
      <label class="container">Lincoln Douglas
        <input name = "ld" type="checkbox" checked>
        <span class="checkmark"></span>
      </label>
      <%}else{%>
        <label class="container">Lincoln Douglas
          <input name = "ld" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <%}%>
        <%if(parliChecked){%>
          <label class="lastContainer container">Parliamentary Debate
            <input name = "parli" type="checkbox" checked>
            <span class="checkmark"></span>
          </label>
          <%}else{%>
            <label class="lastContainer container">Parliamentary Debate
              <input name = "parli" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <%}%>
  
           
        </div>
        <label class="container"style = "padding-bottom: 20px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
          <input  name = "termsAndConditions" type="checkbox">
          <span class="checkmark"></span>
        </label>
     <%}else if(!emailAvailable){%>

      <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" value = "<%=name%>" />

  
      <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" value = <%=email%> />

      <h3>A profile has already been created with this email</h3>
      <style>h3{text-align: center; color:rgb(255, 89, 89);
  padding-top: 0px; margin-top: 5px;}</style>
       <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" value = <%=speechranks%> />
      <input required  name="password" type="password" class="feedback-input" placeholder="Password" value = <%=password%> />
            <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" value = <%=confirmPassword%> />
    
            <h2 id="noBottomPadding">Debate events</h2>
            <div id = "checkRequired">
              <%if(tpChecked){%>
      <label class="container">Team Policy
        <input name = "tp" type="checkbox" checked>
        <span class="checkmark"></span>
      </label>
      <%}else{%>
        <label class="container">Team Policy
          <input name = "tp" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <%}%>
        <%if(ldChecked){%>
          <label class="container">Lincoln Douglas
            <input name = "ld" type="checkbox" checked>
            <span class="checkmark"></span>
          </label>
          <%}else{%>
            <label class="container">Lincoln Douglas
              <input name = "ld" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <%}%>
            <%if(parliChecked){%>
              <label class="lastContainer container">Parliamentary Debate
                <input name = "parli" type="checkbox" checked>
                <span class="checkmark"></span>
              </label>
              <%}else{%>
                <label class="lastContainer container">Parliamentary Debate
                  <input name = "parli" type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <%}%>
      
     
            </div>      

            <label class="container"style = "padding-bottom: 20px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
              <input  name = "termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
      <%}else if(!speechranksValid){%>
          
      <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" value = "<%=name%>" />

  
      <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" value = <%=email%> />

       <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" value = <%=speechranks%> />

      <h3>Please enter a valid Speechranks link</h3>
      <style>h3{text-align: center; color:rgb(255, 89, 89);
  padding-top: 0px; margin-top: 5px;}</style>
      <input required  name="password" type="password" class="feedback-input" placeholder="Password" value = <%=password%> />
            <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" value = <%=confirmPassword%> />
    
            <h2 id="noBottomPadding">Debate events</h2>
            <div id = "checkRequired">
              <%if(tpChecked){%>
      <label class="container">Team Policy
        <input name = "tp" type="checkbox" checked>
        <span class="checkmark"></span>
      </label>
      <%}else{%>
        <label class="container">Team Policy
          <input name = "tp" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <%}%>
        <%if(ldChecked){%>
          <label class="container">Lincoln Douglas
            <input name = "ld" type="checkbox" checked>
            <span class="checkmark"></span>
          </label>
          <%}else{%>
            <label class="container">Lincoln Douglas
              <input name = "ld" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <%}%>
            <%if(parliChecked){%>
              <label class="lastContainer container">Parliamentary Debate
                <input name = "parli" type="checkbox" checked>
                <span class="checkmark"></span>
              </label>
              <%}else{%>
                <label class="lastContainer container">Parliamentary Debate
                  <input name = "parli" type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <%}%>
      
     
            </div>      
      
            <label class="container"style = "padding-bottom: 20px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
              <input  name = "termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
   
              <%}else if(!passwordsMatching){%>
                <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" value = "<%=name%>" />
        
          
                <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" value = <%=email%> />
        
                 <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" value = <%=speechranks%> />
        
             
                <input required  name="password" type="password" class="feedback-input" placeholder="Password" value = <%=password%> />
                      <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" value = <%=confirmPassword%> />
                      <h3>Your passwords must be matching</h3>
                      <style>h3{text-align: center; color:rgb(255, 89, 89);
                  padding-top: 0px; margin-top: 5px;}</style>
                      <h2 id="noBottomPadding">Debate events</h2>
                      <div id = "checkRequired">
                        <%if(tpChecked){%>
                <label class="container">Team Policy
                  <input name = "tp" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
                <%}else{%>
                  <label class="container">Team Policy
                    <input name = "tp" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <%}%>
                  <%if(ldChecked){%>
                    <label class="container">Lincoln Douglas
                      <input name = "ld" type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                    <%}else{%>
                      <label class="container">Lincoln Douglas
                        <input name = "ld" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <%}%>
                      <%if(parliChecked){%>
                        <label class="lastContainer container">Parliamentary Debate
                          <input name = "parli" type="checkbox" checked>
                          <span class="checkmark"></span>
                        </label>
                        <%}else{%>
                          <label class="lastContainer container">Parliamentary Debate
                            <input name = "parli" type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                          <%}%>
                
               
                      </div>      

            <label class="container"style = "padding-bottom: 20px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
              <input  name = "termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
                
              <%}else if(!termsAndConditionsAgreed){%>
                <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" value = "<%=name%>" />
        
          
                <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" value = <%=email%> />
        
                 <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" value = <%=speechranks%> />
        
             
                <input required  name="password" type="password" class="feedback-input" placeholder="Password" value = <%=password%> />
                      <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" value = <%=confirmPassword%> />
                    
                      <h2 id="noBottomPadding">Debate events</h2>
                      <div id = "checkRequired">
                        <%if(tpChecked){%>
                <label class="container">Team Policy
                  <input name = "tp" type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
                <%}else{%>
                  <label class="container">Team Policy
                    <input name = "tp" type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <%}%>
                  <%if(ldChecked){%>
                    <label class="container">Lincoln Douglas
                      <input name = "ld" type="checkbox" checked>
                      <span class="checkmark"></span>
                    </label>
                    <%}else{%>
                      <label class="container">Lincoln Douglas
                        <input name = "ld" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                      <%}%>
                      <%if(parliChecked){%>
                        <label class="lastContainer container">Parliamentary Debate
                          <input name = "parli" type="checkbox" checked>
                          <span class="checkmark"></span>
                        </label>
                        <%}else{%>
                          <label class="lastContainer container">Parliamentary Debate
                            <input name = "parli" type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                          <%}%>
                
               
                      </div>      

            <label class="container"style = "padding-bottom: 0px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
              <input  name = "termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <h3 style="margin-top: 0px; padding-bottom: 10px;">You must agree to the Terms and Conditions</h3>
            <style>h3{text-align: center; color:rgb(255, 89, 89);
        padding-top: 15px; margin-top: 5px;}</style>
                <%}else{%>
        <input required  name="name" maxlength = "40"type="text" class="feedback-input" placeholder="Full name" />
        <input required  name="email" maxlength = "320" type="email" class="feedback-input" placeholder="Email" />
         <input required  name="speechranks" maxlength = "55"  type="url" class="feedback-input" placeholder="Speechranks" />
        <input required  name="password" type="password" class="feedback-input" placeholder="Password" />
              <input required  name="confirmPassword" type="password" class="feedback-input" placeholder="Confirm password" />
      
              <h2 id="noBottomPadding">Debate events</h2>
              <div id = "checkRequired">
                
        <label class="container">Team Policy
          <input name = "tp" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Lincoln Douglas
          <input name = "ld" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="lastContainer container">Parliamentary Debate
          <input name = "parli" type="checkbox">
          <span class="checkmark"></span>
        </label>
              </div>

            <label class="container" style = "padding-bottom: 20px">I agree to the <a  style = "color: black;" href="/termsAndConditions" target = "_blank">StoaExchange Terms and Conditions</a>
              <input name = "termsAndConditions" type="checkbox">
              <span class="checkmark"></span>
            </label>
        <%}%>


<input type="submit" value="Register"/>
</form>
  <h2>Already registered? <a href="/login">Log in here</a></h2>
  <%}%>
      </div></div>

</section>
<%- include('partials/footer.ejs') %>

</body>
</html>